/* #root {
  color-scheme: light;
} */

html {
  font-family: "Josefin Sans", system-ui, sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  /*   display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw; */
  overflow-x: hidden;
  overflow-x: none;
}